.padre {
    border: 2px red;
    width: 500px;
    height: 700px;
    margin-left: 20%;
}
.parrafo{
    background-color: darkgray;
    color:black;
    position: fixed;
    top: 50px;
    left: 35%;
    width: 200;
}
body{
    width: 2000px;
}